{% extends "admin/layout.njk" %}

{% block content %}

  <section class="edit">
    <div class="info">
      <h2>Editando receita</h2>  
      <span>
        <form id="delete" method="POST" action="/admin/recipes?_method=DELETE">
          <input type="hidden" name="id" value="{{ recipe.id }}">
          <button type="submit">Deletar</button>
        </form>
      </span>
      <span>
        <form id="save" method="POST" action="/admin/recipes?_method=PUT">
          <button type="submit">Salvar receita</button>
      </span>
    </div>

      <input type="hidden" name="id" value="{{ recipe.id }}">
      {% include "admin/fields.njk" %}
    </form>
  </section>

  <script src="/js/create.js"></script>

{% endblock %}