{% extends "admin/layout.njk" %}

{% block content %}
  <section>
    <div class="banner-index">
      <p class="title">As melhores receitas</p>
      <p class="text">Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
      </p>
      <div class="chef-img">
        <img src="assets/chef.png" alt="chef">
      </div>
    </div>
  </section>

  
{%endblock%}
  
