{% extends "layout.njk" %}

{% block content %}
  <div class="page-not-found">
    <h1 class="title">Page not found!</h1>
    <p class="text">Essa página não pode ser encontrada. Volte para a página inicial e tente novamente.</p>
  </div>

{% endblock %}