  @import "https://fonts.googleapis.com/css?family=Roboto&display=swap";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Roboto;
}

footer {
  margin-top: auto;
}

body, html{
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body header {
  background-color: black;
  display: flex;
  align-items: center;
  padding-top: 27px;
  padding-left: 231px;
  padding-bottom: 30px;
}

section #admin-chef {
  width: 940px;
}

.menu a {
  padding-left: 50px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.menu a:hover{
  color: rgb(243, 180, 170);
  transition: 200ms;
}

#admin-chef .form-chefs {
  padding-top: 50px;
  padding-left: 231px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}

.form-chefs span {
  padding-left: 400px;
}

.form-chefs .btn {
  padding: 8px 24px;
  background-color: #6558C3; 
  color: white;
  border-radius: 4px;
  margin-top: 32px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
  text-decoration: none;
}

.menu a.active {
  font-weight: bold;
  color: red;
}

footer,
.footer {
  background: #eeeeee;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  display: grid;
  align-content: center;
  padding: 20px;
  margin-top: auto;
}

footer span {
  opacity: 80%;
  color: #999999;
}

/* Create Chef */

.wrapper {
  padding-top: 55px;
  padding-left: 231px;
}

.details h3 {
  font-size: 24px;
  display: inline;
  padding-right: 670px;
}

button[type="submit"],
.btn-chef,
.addRecipe {
  padding: 8px 24px;
  background-color: #6558C3; 
  color: white;
  border-radius: 4px;
  margin-top: 32px;
  margin-bottom: 20px;
  font-size: 16px;
  text-decoration: none;
}

.item {
  padding-top: 30px;
}

.item div {
  padding-bottom: 10px;
}

input {
  width: 940px;
  outline: none;
  color: #aaa;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #DDDDDD;
  padding: 8px;
  border-radius: 4px;
}

input::placeholder {
  font-size: 16px;
  font-weight: normal;
}

/* Index Chef */

#index-chef {
  width: 940px;
  padding-left: 231px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-chef {
  display: grid;
  grid-template-columns: 1fr;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-top: 30px;
}

.card-chef img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.card-info-chef {
  margin-left: 20px;
}

.card-info-chef p {
  margin-bottom: 10px;
  font-size: 18px;
  color: #111111;
  line-height: 21px;
}

.card-info-chef a {
  text-decoration: none;
  font-size: 14px;
  color: #6558C3;
}

/* Show Chef */

.chef {
  padding-left: 231px;
}

.infochef {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
}

.cardchef img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 450px;
}

.btn-chef {
  margin-left: 621px;
}

.cardtitle-chef {
  padding-top: 30px;
  text-align: center;
  font-size: 36px;
  color: #111111;
  line-height: 42px;
  padding-bottom: 4px;
}

.total-receipt {
  text-align: center;
  font-size: 20px;
  color: #777777;
  line-height: 24px;
  padding-bottom: 50px;
}

.chef h2 {
  font-size: 24px;
  color: #111111;
  line-height: 28px; 
  margin-bottom: 20px;
}

/* Edit Chef */

.details-edit  {
  padding-top: 50px;
  padding-left: 231px;
}

#admin h1 {
  padding-left: 231px;
  display: inline;
}

.form-recipe {
  padding-top: 50px;
  display: flex;
  align-items: center;
}

.form-recipe span {
  padding-left: 650px;
}

/* Index Receitas */

section #admin{
  display: flex;
  justify-content: center;
}

section #admin span {
  padding-bottom: 20px;
}

section .cards-admin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.card__image img {
  border-radius: 4px;
  width: 300px;
}

.card__image {
  padding-top: 5px ;
}

.card .card-info a {
  text-decoration: none;
}

