@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Roboto;
}

footer {
  margin-top: auto;
}

body, html{
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
header {
  width: 100%;
  height: 80px ;
  background-color: black;
}

.menu a{
  width: 95px;
  margin-left: 50px;
  margin-top: 32px;
  font-size: 16px;
  line-height: 19px;
  color: black;
  position: relative;
  top: 36px;
  left: 66px;
  text-decoration: none;
}

.menu a:hover{
  color: rgb(243, 180, 170);
  transition: 200ms;
}

header img {
  padding-left: 220px;
  padding-top: 32px;
  padding-bottom: 12px;  
}

footer {
  height: 62px;
  background: #eeeeee;
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  display: grid;
  align-content: center;
}

footer span {
  opacity: 80%;
  color: #999999;
}

/* Receitas */

.wrapper {
  margin-left: 220px;
}

.wrapper h1{
  padding-top: 55px;
  font-size: 24px;
  display: inline-block;
}

.receipt, .info {
  padding-top: 56px;
}

.receipt-header img {
  max-width: 940px;
  height: 280px;
  border-radius: 15px;
}

.head-group {
  padding-top: 50px ;
  max-width: 940px;
  text-align: center;
}

.head-group h1 {
  font-size: 36px;
  line-height: 24px;
  color: #111111;
  padding-bottom: 10px;
}

.head-group p,
.info {
  font-size: 20px;
	line-height: 24px;
	color: #777;

}

.sub-head {
  font-size: 24px;
  margin-top: 50px;
	margin-bottom: 20px;
}

.topic-content {
  max-width: 940px;
}

.topic-content p {
  font-size: 18px;
}

.topic-content li {
  margin-left: 15px;
}

.topic h3 {
	font-size: 24px;
	font-weight: 700px;
	line-height: 24px;
  color: #111;
  width: max-content;
	display: inline-block;
}

.topic-content.hide {
	display: none;
}

.topic-content.show {
	display: block;
}

.topic button {
	font-size: 12px;
	font-weight: 700px;
	line-height: 14px;
	color: #999;
	border: none;
	display: inline;
	vertical-align: baseline;
	padding: 2px 8px;
	background: none;
}

.topic-content li {
	font-size: 18px;
	font-weight: 400px;
	line-height: 28px;
	color: #444;
	list-style-position: inside;
}

.wrapper a.add  {
  padding: 8px 24px;
  background-color: #6558C3; 
  color: white;
  border-radius: 4px;
  margin-top: 32px;
  font-size: 16px;
  text-decoration: none;
}


/* Create */

.details {
  margin: 10px 0;
  width: 940px;
  border: 1px solid rgb(0, 0, 0, 0.2);
}

div .item {
  padding-left: 10px;
}

input {
  width: 100%;
  padding-top: 10px;
  margin: 5px 0;
  outline: none;
}

.item div div input[type=text] {
  padding: 5px;
  border: 1px solid #DDDDDD;
  background: #FFFFFF;
  border-radius: 4px 4px;
  width: 910px;
  height: auto;
}

.details h3 {
  color: rgb(3, 94, 3);
  text-align: center;
  padding-top: 12px;
  color: black;
}

.item div:first-child {
  padding-top: 12px;
}

.item {
  padding-bottom: 12px;
  color: green;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

button[type="submit"],
.addRecipe {
  padding: 8px 24px;
  background-color: #6558C3; 
  color: white;
  border-radius: 4px;
  margin-top: 32px;
  font-size: 16px;
  text-decoration: none;
}

.form-recipe h1 {
  padding-right: 580px;
}

.form-recipe span {
  right: 800px;
}

.form-recipe{
  padding-top: 50px;
  padding-left: 220px;
  display: flex; 
}

span #delete {
  display: inline;
}

.adminLogin {
  opacity: 0.5;
}


footer {
  height: 62px;
  background: #eeeeee;
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  display: grid;
  align-content: center;
}

footer span {
  opacity: 80%;
  color: #999999;
}