@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";

/* Principal */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Roboto;
}

header {
  display: grid;
  grid-template-columns: 0.31fr 1fr 1fr;
}

.menu a{
  width: 95px;
  margin-left: 50px;
  margin-top: 32px;
  font-size: 16px;
  line-height: 19px;
  color: black;
  position: relative;
  top: 36px;
  left: 66px;
  text-decoration: none;
}

.menu a:hover{
  color: rgb(243, 180, 170);
  transition: 200ms;
}

header img {
  padding-left: 220px;
  padding-top: 32px;
}

.banner-index {
  max-width: 940px;
  height: 366px;
  background-color: #FBDFDB;
  border-radius: 30px;
  margin: 40px 210px;
}

.banner-index .title {
  position: absolute;
  margin-top: 117px;
  margin-left: 60px;
  font-size: 32px;
  line-height: 38px;
}

.banner-index .text {
  position: absolute;
  margin-top: 165px;
  margin-left: 60px;
  width: 316px;
  height: 84px;
  font-size: 18px;
  line-height: 28px;
  opacity: 70%;
}

.chef-img img {
  position: relative;
  width: 216px;
  height: 300px;
  left: 624px;
  top: 66px;
  right: 100px;
}

footer {
  height: 62px;
  background: #eeeeee;
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  display: grid;
  align-content: center;
}

footer span {
  opacity: 80%;
  color: #999999;
}

/* Mais acessadas */

.most-accessed {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  padding-left: 220px;
}

/* Cards */ 

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 210px;
  margin-top: 50px;
  width: 300px;
  gap: 20px;
  padding-bottom: 25px;
}

.card__image img{
  width: 300px;
  height: 140px;
  border-radius: 15px;
  margin-top: 10px;
  cursor: pointer;
}

.card-title p {
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.card-author p {
  color: #777777;
}

/* About */

.title-about {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 220px;
}

.content-about {
  padding-left: 220px;
  width: 940px;
}

/* Pagina Unica Receita */

.receipt {
  padding: 50px;
}

/* Page not found */

.page-not-found h1 {
  color: rgb(226, 176, 169);
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
}

.page-not-found p {
  font-size: 35px;
  text-align: center;
  margin-top: 50px;
  color: rgb(226, 176, 169);
  padding-bottom: 290px;
}