{% extends "users/layout.njk" %}

{% block content %}

{% block head %}
    <title>Receitas</title>
    <link rel="stylesheet" href="/css/styles.css">
{% endblock %}

  <section class="cards">
    {% for recipe in recipes %}
    <div class="card" id="{{loop.index-1}}">
      <div class="card__image">
        <img src="{{recipe.image}}" alt="{{recipe.title}}">
      </div>
      <div class="card-title">
        <p>{{recipe.title}}</p>
      </div>
      <div class="card-author">
        <p>{{recipe.chef_name}}</p>
      </div>
    </div>
  {% endfor %}
  </section>
{% endblock %}

