{% extends "recipes/layout.njk" %}

{% block content %}

<form class="wrapper" method="POST" action="/admin/recipes" enctype="multipart/form-data">
  <section class="details">
    <h3> Nova Receita </h3>
    <button type="submit">Salvar</button>
        {% include 'recipes/fields.njk' %}

  </section>
</form>

<script src="/js/create.js"></script>
{% endblock content %}

