{% extends "chefs/layout.njk" %}

{% block content %}

<form class="wrapper" method="POST" action="/admin/chefs">
  <section class="details">
    <h3> Criando Chef </h3>

        {% include 'chefs/fields.njk' %}

  </section>
</form>

<script src="/js/create.js"></script>
{% endblock content %}

