{% extends "chefs/layout.njk" %}

{% block content %}


  <section id="admin-chef">
    <div class="form-chefs">
      <h1>Gerenciar chefs</h1>
      <span>
        <a href="chefs/create" class="btn">Adicionar chef</a>
      </span>
    </div>

    <section id="index-chef">
    <div class="cards-chef">
      {% for chef in chefs %}
        <div class="card-chef">
          <div class="chef-image">
            <img src="{{chef.avatar_url}}" alt="Foto do Chef">
          </div>

          <div class="card-info-chef">
            <p> {{chef.name}} </p>
            <a href="/admin/chefs/{{chef.id}}" class="link-chef">Visualizar</a>
          </div>
          </div>
        </div>
      {%endfor%}
    </div>
    </section>
  </section>
{% endblock content %}

