{% extends "receipts/layout.njk" %}

{% block content %}

<form class="wrapper" method="POST" action="/admin/recipes">
  <section class="details">
    <h3> Editando Receita </h3> 
        {% include 'receipts/fields.njk' %}
        <input type="hidden" name="id" value="{{ receipts.id }}">
</form>

    <div class="delete">  
      <span>
        <form id="delete" method="POST" action="/admin/recipes?_method=DELETE">
          <input type="hidden" name="id" value="{{ receipt.id }}">
          <button type="submit">Deletar receita</button>
      </span>
    </div>
  </section>
</form>


{% endblock content %}

