<!DOCTYPE html>
<html lang="pt">

<head>
  {% block head%}
  <title>Foodfy</title>
  <link rel="stylesheet" href="/css/admin.css">
  
  {%endblock%}
  
</head>

<body>
  <header>
    <a href="/"><img src="/assets/logo2.png" alt="Logo Foodfty"></a>
    <div class="menu">
        <a href="/admin/recipes">Receitas</a>
        <a href="/admin/chefs"> Chefs</a>
    </div>
  </header>

  {% block content %} 

  {% endblock %}

  <footer class="footer">
    <p>Todos direitos reservados, receitas Foodfy - <span>2020 </span>®</p>
  </footer>
  
  <script src="/js/create.js"></script>
  <script src="/js/scripts.js"></script>
</body>

</html>