{% extends "receipts/layout.njk" %}

{% block head %}
<title>Receita - {{receipt.title}}</title>
<link rel="stylesheet" href="/css/receipt.css">
{% endblock %}

{% block content %}

<div class="wrapper">
  <h1>{{receipt.title}}</h1>       
  <span>
    <a href="{{ receipt.id }}/edit" class="addRecipe">Editar receita</a>
  </span>
  <div class="receipt">
    <div class="receipt-header">
      <img src="{{receipt.image}}" alt="{{receipt.title}}" />
      <div class="head-group">
        <h2>{{receipt.title}}</h2>
        <p>por {{receipt.chef_name}}</p>
      </div>
    </div>

    <div class="receipt-content">
      <div id="ingredients" class="topic">
        <div class="sub-head">
          <h3>Ingredientes</h3>
          <button class="toggleContent">ESCONDER</button>
        </div>

        <div class="topic-content">
          <ul>
            {% for ingredient in receipt.ingredients %}
              <li>{{ingredient}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div id="preparation" class="topic">
        <div class="sub-head">
          <h3>Modo de preparo</h3>
          <button class="toggleContent">ESCONDER</button>
        </div>

        <div class="topic-content">
          <ul>
            {% for preparation in receipt.preparations %}
              <li>{{preparation}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div id="information" class="topic">
        <div class="sub-head">
          <h3>Informações adicionais</h3>
          <button class="toggleContent">ESCONDER</button>
        </div>

        <div class="topic-content">
          <p>{{receipt.informations}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}