{% extends "users/layout.njk" %}

{% block head %}
<title>Receita - {{recipes.title}}</title>
<link rel="stylesheet" href="/css/receipt.css">
{% endblock %}

{% block content %}
        
<div class="wrapper">
  <div class="receipt">
    <div class="receipt-header">
      <img src="{{recipes.image}}" alt="{{recipes.title}}" />
      <div class="head-group">
        <h1>{{recipes.title}}</h1>
        <p>por {{recipes.author}}</p>
      </div>
    </div>

    <div class="receipt-content">
      <div id="ingredients" class="topic">
        <div class="sub-head">
          <h3>Ingredientes</h3>
          <button class="toggleContent">ESCONDER</button>
        </div>

        <div class="topic-content">
          <ul>
            {% for ingredient in recipes.ingredients %}
              <li>{{ingredient}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div id="preparation" class="topic">
        <div class="sub-head">
          <h3>Modo de preparo</h3>
          <button class="toggleContent">ESCONDER</button>
        </div>

        <div class="topic-content">
          <ul>
            {% for preparation in recipes.preparations %}
              <li>{{preparation}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div id="information" class="topic">
        <div class="sub-head">
          <h3>Informações adicionais</h3>
          <button class="toggleContent">ESCONDER</button>
        </div>

        <div class="topic-content">
          <p>{{recipes.informations}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}